<%= flash[:notice] %>
<div class=container class="import_flexbox">
  <div class="import_page">
    <h4>Importer votre fichier</h4>
  </div>
  <div class="import_page">
    <%= form_tag csv_files_import_path, multipart: true do %>
      <%= file_field_tag :file, :required => 'required'%>
      <%= submit_tag "Importer" %>
    <% end %>
  </div>
  <div class="import_page">
    <% unless @users.empty? %>
      <button type="submit"> <%= link_to "Visualisez votre fichier", csv_files_show_path(@csv_file, :class => "btn btn-primary") %> </button>
    <% end %>
  </div>
</div>

